.main-content .button {
    margin-top: 1em;
    color: black;
    font-size: 1.1rem;
    background-color: rgb(235, 235, 255);
}

.main-content .button:hover {
    background-color: rgb(164, 164, 255);
}