
app-user-table-rank {
  width: 80%;
}

.loader {
  width: 80%;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //flex-direction: column;
  gap: 10px; /* Optional: Adds space between the elements */
}
