<mat-toolbar id="navbar">
  <div class="navbar-content">
    <div>
      <button mat-button extended (click)="logout()">
        <div class="item">
        </div>
        <mat-icon class="icon">account_circle</mat-icon>
        @if(user$ | async; as user){
          {{user.login}}
        } @else {
          <mat-spinner [diameter]="20"></mat-spinner>
        }

      </button>
      <button mat-button routerLink="/" style="vertical-align: middle">Accueil</button>
      <button mat-button routerLink="/rankings" style="vertical-align: middle">Classement</button>
    </div>
  </div>

  <button mat-button [matMenuTriggerFor]="menu">
    Menu
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a routerLink="/sudoku" mat-menu-item>Sudoku</a>
    <a mat-menu-item disabled>Mot croisés</a>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

</mat-toolbar>
