<mat-toolbar id="navbar">
  <div class="navbar-content">
    <div>
      <button mat-button extended (click)="logout()">
        <mat-icon class="icon">account_circle</mat-icon>
        {{user?.login}}
      </button>
      <button mat-button routerLink="/" style="vertical-align: middle">Accueil</button>
      <button mat-button routerLink="/rankings" style="vertical-align: middle">Classement</button>
    </div>
  </div>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Sudoku</button>
    <button mat-menu-item disabled>Mot croisés</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

</mat-toolbar>