<app-navbar></app-navbar>

<div class="main-content">
  <h1>{{currentDate | date:'fullDate' }}</h1>
  <h2>Sudoku du jour</h2>

  @if(sudokuGrid){
    <div class="game-container">
      <div class="sudoku-container">
        <div id="sudoku-grid">
            @for(row of sudokuGrid.easy; track $index){
              <app-sudoku-row
                class="sudoku-row"
                [rowIndex]="$index"
                (valueChange)="onValueChange($event)"
              ></app-sudoku-row>
            }
        </div>
      </div>

      <mat-card id="sudoku-actions" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Actions</mat-card-title>
        </mat-card-header>
        <img mat-card-image ngSrc="assets/mat-card-sudoku-image.jpg" alt="Sudoku" height="200" width="200">
        <mat-card-actions>
          @if(!isGridSent){
            <button mat-button [disabled]="isGridCorrect" (click)="checkGrid()">Vérifier</button>
            <button mat-button [disabled]="!isGridCorrect" (click)="sendGameResult()">Envoyer</button>
          } @else {
            <!-- afficher un effet de chargement -->
              @defer {
                <p>Résultat soumis !</p>
              } @placeholder (minimum 500ms){
                <ngx-skeleton-loader [theme]="{
                  height: '30px',
                  width: '200px',
                }">
                </ngx-skeleton-loader>
              }
            <!-- afficher un effet de chargement -->
          }

        </mat-card-actions>
        <mat-card-footer>
          <p>Nombre d'essais : {{checkString}}</p>
        </mat-card-footer>
      </mat-card>
  </div>
  }
  @else {
    <mat-spinner></mat-spinner>
  }
</div>
