<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder" formControlName="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
    <mat-error>
      Please enter your email
    </mat-error>
    }
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
      <button class="buttonhidepassword" mat-icon-button matSuffix (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
    <mat-error>
      Please enter your password
    </mat-error>
    }
    <button type="submit" mat-raised-button>Se connecter</button>
  </form>
</div>
