<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <h1>Projet Angular</h1>

  <div class="form-box" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="form-title">Connexion</h3>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Login</mat-label>
        <input class="form-input" type="email" matInput placeholder="Placeholder" formControlName="login" />
        <mat-icon matSuffix>email</mat-icon>
        @if (loginForm.get('login')?.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Password</mat-label>
        <input class="form-input" matInput [type]="isPasswordHided ? 'password' : 'text'" formControlName="password" />
        <button class="buttonhidepassword" mat-icon-button matSuffix type="button" (click)="hidePassword()">
          <mat-icon>{{isPasswordHided ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matSuffix>lock</mat-icon>
        @if (loginForm.get('password')?.hasError('required') ) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
        @if (loginForm.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      @if (loginForm.hasError('invalid_credentials')) {
      <p class="form-error">les identifiants sont incorrects</p>
      }
      <button class="buttonform" type="submit" mat-flat-button [disabled]='loginForm.invalid'>
        Se connecter
      </button>
    </form>
  </div>
</div>
