span {
  margin: 10px;
}

.streak-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
}

.succeed_button {
  color: green;
}

.failed_button {
  color: red;
}
